/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
}

.row {
    display: flex;

}
/* Carousel */

#carousel {
    height: 432px;
    flex: 65%;
}

#carousel .gallery {
    height: 100%;
}

#carousel img {
    width: 100%;
    height: 100%;
    display: none;
}

#carousel img.active {
    display: block;
}

/* #thumbnails .fa-solid {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}  */

#thumbnails .fa-solid {
    position: absolute;
    left: 10px;
    color: blue;
}

/* #prev {
    left: -5%;
}

#next {
    right: -5%;
} */

/* Thumbnails */
#thumbnails {
    height: 432px;
    flex: 35%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.thumbs {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#thumbnails img {
    height: 100%;
    width: 30%;
}

#thumbnails img.active {
    box-shadow: 0 0 20px blue;
}
